body {
  font-family: 'Segoe UI', Arial;
  background: #f3f4f7;
  padding: 40px;
}
h1 {
  text-align: center;
  color: #222;
}
input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
}
th {
  background: #ddd;
}
